<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @ad.company %>
</p>

<p>
  <strong>Run:</strong>
  <%= @ad.run %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
