<%# if @flyers.length > 0 %>
<% header("flyer","All the Flyers") %>
<%= render "shared/partials/formheader" %>
<div class="header">
    <h4 class="title"><%= yield(:flyer) %></h4>
</div>  
<div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
        <thead class="row">
            <th class="col-sm-3">Company</th>
        	<th class="hidden-xs col-sm-2">Language</th>
        	<th class="col-sm-2">Image Url</th>
            <th class="col-sm-2">Confirmed</th>
            <th class="options col-sm-3">Options</th>
        </thead>
        <tbody class="row">
            <% @flyers.each do |flyer| %>
            <tr>
            	<td class="col-sm-3"><%= flyer.company.name %></td>
            	<td class="hidden-xs col-sm-2"><%= Language.find(flyer.language_id).name %></td>
            	<td class="col-sm-2">
                    <%= link_to flyer.image.url do %>
                    <i class="pe-7s-link"></i>
                    <% end %>
                </td>
                <th class="col-sm-2"><%= flyer.confirmed %></th>
                <td class="options col-sm-3">
                    <div class="btn-group" id="btn-group">
                     <%#= link_to flyer_path(flyer.id), {class: "btn btn-primary", 'rel' => 'tooltip', 'data-placement' => 'left', 'title'=>"Display Company"} do %>
                     <!--i class="fa fa-arrow-right" aria-hidden="true"></i-->
                     <%# end %>
                     <%= link_to confirm_flyer_path(flyer), {:class => "btn btn-primary", :method => :post } do %>
                     <i class="fa fa-check" aria-hidden="true"></i>
                     <% end %>                     
                     <%#= link_to edit_flyer_path(flyer.id), {class: "btn btn-success", 'rel' => 'tooltip', 'data-placement' => 'top', 'title'=>"Edit Company"}  do %>
                     <!--i class="fa fa-pencil" aria-hidden="true"></i-->
                     <%# end %>
                     <%= link_to  destroy_flyer_path(flyer), {class: "btn btn-danger", 'rel' => 'tooltip', 'data-placement' => 'right', 'title'=>"Delete Company", method: :delete} do %>
                     <i class="fa fa-trash-o" aria-hidden="true"></i>
                     <% end %>
                    </div>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>

</div>
<%= render partial: "shared/partials/formfooter" %>


<div class="container-fluid">
    <%= link_to "Back", companies_path, class: "btn btn-primary btn-fill pull-left btn-main" %>
</div>

<%#= render partial: "shared/links/flyer_links" %>
<%# else %>
<%#= render partial: "shared/links/flyer_links" %>
<%# end %>