<div class="wrapper">
	<%= render partial: "landings/partials/parallax" %>  
	<%= render partial: "landings/partials/clients" %>  
	<%= render partial: "landings/partials/presentation" %>  
	<%= render partial: "landings/partials/demo" %>  
	<%= render partial: "landings/partials/features" %>  
	<%#= render partial: "landings/partials/testimonial" %>  
	<%= render partial: "landings/partials/nopadding" %>  
	<%= render partial: "landings/partials/footer" %>  
</div>