<% header("companies","Create Company") %>
<%= render "shared/partials/formheader" %>
<div class="header">
    <h4 class="title"><%= yield(:companies) %></h4>
</div>  
<div class="content">
    <%= simple_form_for @company do |f| %>
      <% if @company.errors['base'].present? %>
        <span class="help-block error"><%= @company.errors['base'][0] %></span>
      <% end %>     
      <%= render 'partials/error_messages', object: @company %>
      <%= f.input :name %>
      <%= f.association :companytype, prompt: "Choose a type", class: "form-control" %>
      <%#= f.input :title %>
      <%= f.input :description, label: "Description 200-360 Characters", as: :text, class: "description" %>
      <span class="countdown"></span>
      <%= f.input :url %>

      <!-- flyers#new -->
      <% if @company.flyers.present? %>
        <% flyers_present = true %>
      <% else %>
        <% flyers_present = false %>
      <% end %>

      <%= f.input :own_style, label: "Upload own flyer design?", as: :radio_buttons, :input_html => { 'data-toggle' => "radio" }, :checked => flyers_present %>
      <%= f.fields_for :flyers do |flyer| %>
        <div class="flyer_fields">
          <% if flyer.object.id.present? %>
            <% var_bool = true %>
          <% else %>
            <% var_bool = false %>
          <% end %>
          <% unless var_bool %>
            <%= flyer.label :language_id, "Select the Language of the Flyer" %>
          <% else %>
            <%= flyer.label :language_id, "Uploaded Languages" %>
            <%= link_to "Delete Flyer", { :controller => "flyers", :action => "destroy", :company_id => flyer.object.company_id, :id => flyer.object.id}, method: :delete %> 
          <% end %>
          <%= flyer.select(:language_id, Language.all.collect{|l| [l.name, l.id]}, {defualt: "EN", selected: flyer.object.language_id}, {:class => "form-control", disabled: var_bool }) %>
          <% unless var_bool %>
            <%= flyer.label :image, "add your flier image..." %>
            <%= flyer.file_field :image, class: "form-control" %>
          <% end %>
        </div>
      <% end %>      
      
      <%= link_to "Back", companies_path, class: "btn btn-primary btn-fill pull-left btn-main" %>
      <%= f.button :submit, class: "btn btn-info btn-fill pull-right btn-main" %>
      <div class="clearfix"></div>
    <% end %>
</div>
<%= render partial: "shared/partials/formfooter" %>